
*{margin: 0; padding: 0;}
body{font-family: 'ReithSans', 'SolaimanLipi', "Poppins", sans-serif;}
img{width: 100%;}
a{text-decoration: none; color: #000;}
ul{list-style-type: none;}
a:hover{color:black}

@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Rg.woff) format("woff");
    font-display: optional;
    font-display: optional;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_It.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_It.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Bd.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_BdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_BdIt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Lt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Lt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_LtIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_LtIt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBd.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBd.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-weight: 800;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_ExBdIt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Md.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_Md.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "ReithSans";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_MdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSans_W_MdIt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Rg.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Rg.woff) format("woff");
    font-display: optional;
    font-display: swap;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_It.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_It.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Bd.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Bd.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-weight: 700;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_BdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_BdIt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Lt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Lt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-weight: 300;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_LtIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_LtIt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_ExBd.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_ExBd.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-weight: 800;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_ExBdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_ExBdIt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Md.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_Md.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: "ReithSerif";
    src: url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_MdIt.woff2) format("woff2"), url(https://static.files.bbci.co.uk/fonts/reith/2.512/BBCReithSerif_W_MdIt.woff) format("woff");
    font-display: optional;
    font-display: swap;
    font-style: italic;
    font-weight: 500;
}


.navbar{
	background-color: #000 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.container{
	
	width: 80rem !important;
	max-width: 80rem !important;
	margin: 0 auto;
}
.navbar-nav{
	width: 100%;
}
li.nav-item {
	width: 50%;
    border-right: 1px solid gray;
}
.nav-logo{
	width: 20% !important;
}
.sign-in{
	width: -webkit-fill-available !important;
	
}
.nav-link{
	padding: 10px 0;
	color: #fff !important;
	font-size: 0.9rem;
	
}
.add-section{
	border-top: solid darkgray 1px;
	width: 100%;
	height: 140px;
	background-color: whitesmoke;
}

.add-section .cards{
	width: 50%;
	height: 100px;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 25%;
	border: 1px solid gray;
	
}
.add-section .text{
	text-align: center;
	padding-top: 25px;
}
.header .text h3{
	padding-top: 30px ;
	font-size: 20px;
	text-align: left;
	float: left;
	overflow: hidden;
	
}
.header .text h4{
	text-align: end;
	padding-top: 30px;
	overflow: hidden;
	
}
.news-section .card{
    border: none !important;
	
	
}
.news-section h3{
	padding-top: 20px;
}
.card-img-overlay .text{
	position: absolute;
	bottom: 0;
}
  
.card-img-overlay::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 0%, black 100%);
  }
.sec-line{
	margin-top: 12px;
}
.sport-section{
    overflow: hidden;
}
.sport-section .card{
    border: none !important;

}
.sport-section h3{
    padding-top: 20px;
}
.reel-section{
    height: 480px;
    background:url(images/reel-back.jpg);
    background-size: cover;
    overflow: hidden;
}
.reel-section .card{
    border: none !important;

}


.reel-section .text h1{
    color: #fff;
    padding-top: 20px ;
	font-size: 40px;
	text-align: left;
	
	overflow: hidden;
}
 .button-reel{
    background-color: rgb(83, 81, 81);
    color: #fff;
    padding: 5px 30px;
    border: 2px solid white;
    border-radius: 30px ;
    margin-left: 70%;
	margin-top: 6%;
	
}
.reel-section .text h5{
    color: #fff;
    text-align: left;
    overflow: hidden;
}
.Asia-News{
    overflow: hidden;
}
.Asia-News .card{
    border: none !important;
    
}
.Asia-News h4{
    padding-top: 30px ;
    
}
.Editor-section{
    height: 1450px;
    background-color: #f6f6f6;
    overflow: hidden;
}
.Editor-section .card{
    border: none !important;
    padding-top: 20px;
}
.Editor-section h3{
    padding-top: 20px;

}
.latest-news{
    background-color: rgb(243, 8, 8);
    color: white;
    padding: 10px 0 5px 20px;
    margin-top: 6%;
}
.text-black{
    background-color: #000;
   
}
.text-black h5{
    color: white;
    
    padding: 30px 0 30px 0px;
    font-size: 20px;

}
.text-black h4{
   
    background-color: red;
    color: white;
    padding: 30px 5px 30px 5px;

}
.Asia-News .card{
    border: none !important;
}
.Future-section{
    height: 480px;
    background:url(images/future-planet-back.jpg);
    background-size: cover;
    overflow: hidden;
}
.Future-section .card{
    border: none !important;

}
.button-future{
    background-color: rgb(83, 81, 81);
    color: #fff;
    padding: 7px 20px;
    border: 2px solid green;
    margin-top: 5%;
	   
}
.button-planet{
    background-color: rgb(83, 81, 81);
    color: #fff;
    padding: 5px 20px;
    border: 2px solid white;
    border-radius: 30px ;
    margin-left: 70%;
	margin-top: 6%;
	     
}
.Future-section .text h5{
    color: #fff;
    text-align: left;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;

}.Technology-section .text h4{
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 20px;
}
.Technology-section .text h5{
    padding-top: 30px;
    padding-bottom: 10px;
}


