
*{margin: 0; padding: 0;}
body{font-family: 'SolaimanLipi', sans-serif, "Poppins", sans-serif;}
img{width: 100%;}
a{text-decoration: none; color: #000;}
ul{list-style-type: none;}
a:hover{color:black}

.navbar{
	background-color: #000 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.container{
	
	width: 80rem !important;
	max-width: 80rem !important;
	margin: 0 auto;
}
.navbar-nav{
	width: 100%;
}
li.nav-item {
	width: 50%;
    border-right: 1px solid gray;
}
.nav-logo{
	width: 20% !important;
}
.sign-in{
	width: -webkit-fill-available !important;
	
}
.nav-link{
	padding: 10px 0;
	color: #fff !important;
	font-size: 0.9rem;
	
}
.add-section{
	border-top: solid darkgray 1px;
	width: 100%;
	height: 140px;
	background-color: whitesmoke;
}

.add-section .cards{
	width: 50%;
	height: 100px;
	margin-top: 2%;
	margin-bottom: 1%;
	margin-left: 25%;
	border: 1px solid gray;
	
}
.add-section .text{
	text-align: center;
	padding-top: 25px;
}
.header .text h3{
	padding-top: 30px ;
	font-size: 20px;
	text-align: left;
	float: left;
	overflow: hidden;
	
}
.header .text h4{
	text-align: end;
	padding-top: 30px;
	overflow: hidden;
	
}
.header-1 .text h2{
	
}
.news-section{
	height: 500px;
	
}
.news-section h3{
	padding-top: 20px;
}
.card-img-overlay .text{
	position: absolute;
	bottom: 0;
}
  
  .card-img-overlay::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to bottom, transparent 0%, black 100%);
  }
.sec-line{
	margin-top: 12px;
}
